*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color:white;

}

 #bo{
    background-color:black;
    background-image: url(https://images.unsplash.com/photo-1636850938951-1aa02df6393b?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDI3fHx8ZW58MHx8fHx8);
    background-repeat: no-reapeat;
    background-size:cover;
    background-position:center;
 }
.mydiv{

}

.mypre{
    color:white;
    text-align: left;
font-size:80px;
padding:140px;
position: relative;
z-index:10;
background-color:black;
margin:50px;
}

#logoimg{
    height:600px;
    padding:0px;
    transform: translate(-15px, -500px);
    z-index: 5;
    position:relative;
}

#myp{
    text-align: left;
    font-size:20px;
}

.navbar{
    background-color:black;
    position:relative;
    z-index:99;
    width:100 vw;
    height:90px;
    text-decoration: none;
    position:sticky;
}

.myli{
    color:white;
    display: inline-block;
}

.mya{
    text-decoration:none;
    padding:6px;
    font-size:40px;
    border:solid white
}

#myimg{
height:200px;
position:relative;
z-index:1;
transform:translate(0px, -600px)
}

#myimg2{
height: 600px;
position:relative;
z-index:1;
transform:translate(500px, -900px);
}

#mybuttonstart{
color:black;
background-color:rgba(249, 237, 67, 0.929);
font-size:50px;
border: solid rgba(249, 237, 67, 0.929);
border-radius:20px;
padding:15px;
position:relative;
transform:translate(800px, -270px);
z-index:16;
cursor:pointer;
}


#mya{
    color:black;
    font-size:00px;
}

#navbar2{
    width:100 vw;
    height:70px;
    background-color:black;
    text-decoration:none;
    border:solid white;
    position: sticky;
}


#body2{
    background-image: url(https://images.unsplash.com/photo-1636850938951-1aa02df6393b?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDI3fHx8ZW58MHx8fHx8);
    position:relative;
    z-index:-1;
}

.myli2{
    text-decoration:none;
    display:inline-block;
    border: soild white;
}

.mya2{
    text-decoration:none;
    border:solid white;
    border-radius:15px;
    font-size:30px;
    padding:15px;
}

#myh1{
    text-align:center;
    color:rgba(249, 237, 67, 0.874);

}

#mydivforinput{
    border:solid white;
    display:inline-block;
    padding:30px;
    font-size:40px;
    item-align: center;
    justify-content:center;
}

#myinput{
    font-size:40px;
    color:black;
}

#myinput2{
    font-size:40px;
    color:black;
}

.container{
    display: flex;
    justify-content:center;
    align-items:center;
}

#bmilabel{
    color:white;
}

#mysubmit{
    display:inline-block;
    font-size:40px;
    color:white;
    background-color:black;
    border:solid white;
    padding:20px;
    border-radius:15px;
}

#bmilabel{
color:white;
font-size:100px;
}

.mygymp{
    font-size:30px;
}